.main{
    width:100%;
    height:550px;
    background:url(department10.webp);
    background-size: 100% 100%;
    border-radius: 0px 0px 250px 250px;
}

#logo{
    width:200px;
    height:100%;
}
#top{
    width:100%;
    height:70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
ul{
    list-style: none;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top:40px;
}
.menu{
    text-decoration: none;
    color:white;
}
.menu:hover{
    color:rgb(3, 3, 82);
    transition: 0.5s;
}
.menume{
    text-decoration: none;
    color:rgb(3, 3, 82);
}
li{
    margin-left: 40px;
    color:black;
}
#logo1{
    width:220px;
    height:60px;
    margin-top:8px;
    border-radius: 20px;
}
#butt1{
    width:170px;
    height:50px;
    border-radius: 15px;
    background-color: rgb(3, 3, 82);
    border: 0px solid rgb(3, 3, 82);
    text-decoration: none;
    margin-left: 100px;
    margin-top:-13px;
    font-size: 17px;
    color:white;
    box-shadow: 5px -5px 10px rgb(77, 77, 255);
}
#butt1:hover{
    box-shadow: none;
    transition: 0.8s;
    transform: translateY(-5px);
}
#butt{
    color:white;
}
a{
    text-decoration:none;
}

.main1{
    width:100%;
    height:100px;
   
   
}
h1{
    margin:0px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(3, 3, 82);
    text-align: center;
}
p{
    font-size: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-left:50px;
    
}
.main2{
    width:100%;
    height:100px;
    background-color:rgb(3, 3, 82);
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main3{
    width:100%;
    height:1000px;
    background: linear-gradient(rgb(3,3,82),black,rgb(3,3,82));
    display: grid;
    justify-content: center;
    align-items: center;
}
.main-box3{
    width:700px;
    height:900px;
    background-color: white;
    border-radius: 30px;
}
.main-top3{
    width:100%;
    height:100px;
    display: inline-flex;
    gap:250px;
}
.logo3{
    width:200px;
    height:80px;
    margin-left: 50px;
    margin-top:10px;
}
.button{
    width:120px;
    height:50px;
    background-color: rgb(3, 3, 82);
    color:white;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top:25px;
}
.button:hover{
    box-shadow: 0px 0px 10px blue;
    transition: 0.2s;
    cursor: pointer;
}
.heading{
    width:100%;
    height:50px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(3, 3, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    margin: 0px;
}
.main-body3{
    width:100%;
    height:720px;
}
.text{
    width:400px;
    height:40px;
    border: 1px solid rgb(3, 3, 82);
}
.table{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-left: 40px;
}
.button1{
    width:200px;
    height:50px;
    background-color: rgb(3, 3, 82);
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color:white;
    margin-left: 250px;
}
.button1:hover{
    box-shadow: 0px 0px 10px blue;
    cursor:pointer;
    transition:0.2s;
}