
.main
{
    width:100%;
    height:100%;
    background: url(u1.jpg);
    background-size: 100% 100%;
}


a
{
    text-decoration: none;
}

#left
{
    width: 50%;
    height: 90%;
    background:linear-gradient(rgb(3,3,82),gray);
    border-radius: 80px 80px 0px 80px;
    margin-left: 200px;
       
}
#right
{
        width: 50%;
        height: 100%;
       
     
}
#logo
{
        width: 200px;
        height: 100%;

}

#top
{
        width: 100%;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;

}
ul
{
        list-style: none;
        display: inline-flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: 20px;
        margin-top: 40px;

        
}
 
.menu{
        text-decoration: none;
        color: white;

}
.menume
{
        color:rgb(3,3,82);
        text-decoration: none;

}

.menu:hover
{
        color:rgb(3,3,82);
        transition: 0.5s;

}

li
{
        margin-left: 40px;
        color: black;
}

#logo1
{
        width: 220px;
        height: 60px;
        margin-top: 8px;
        border-radius: 20px;

}

    
#butt1
    
{
        width: 170px;
        height: 50px;
        border-radius: 15px;
        background-color:rgb(3,3,82);
        border: 2px solid rgb(3,3,82);
        text-decoration: none;
        margin-left: 100px;
        margin-top: -13px;
        font-size: 17px;
        box-shadow: 5px -5px 10px rgb(77,77,255);
        color: white;

}

    
#butt1:hover
{
        box-shadow: 0px 0px 0px black;
        transition: 1s;
        transform: translateY(-4px);
}

#con{
        color: white;
}

#main1
{
        width: 100%;
        height: 80%;
        display: inline-flex;
        margin-top: 20px;
}


h1
{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        margin-left: 50px;
        color: white;
}
#p1
{
        margin-left: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        font-size: 20px;
  

}

#pic1
{
        width: 115%;
        height: 110%;
        margin-left: 60px;

}



#top2
{
        width: 60%;
        height: 20%;
        background-color:rgb(3,3,82);
        margin-left: 330px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        transform: translateY(-30px);

}
#icon
{
        width: 60%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
        
}

#ic1
{
      width: 40px;
      height: 40px;
      
}
#icp
{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin-left: 9px;
}

#main2
{
        width: 100%;
        height: 100%;
        display: inline-flex;
        padding-top: 150px;

}

#left2
{
        width: 50%;
        height: 100%;
}
#right2
{
        width: 50%;
        height: 100%;
        padding-left: 40px;
}

#head2
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-left: 130px;
        color: darkblue;
}

#about
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        margin-left: 130px;
}

#ind
{
        width: 80%;
        height: 20%;
        display: inline-flex;
        margin-left: 130px;
}

#indleft
{
        width: 47%;
        height: 100%;
        display: inline-flex;
        margin-left: 20px;
}

#l1
{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: darkblue;
        color: white;
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
}
#d1
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: 25px;
        margin-top: 8px;
        color:black;

}

#top3
{
        width: 100%;
        height: 180;
        display: grid;
        justify-content: center;
        align-items: center;
        border-top: 8px dashed darkblue;
        border-radius: 40px;
}

#why
{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 60px;
        text-align: center;
        color:rgb(3,3,82) ;
}

#main3{
        width: 100%;
        height: 70%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        background: linear-gradient(darkblue,black);
        
}
#highlight{

        width: 300px;
        height: 400px;
        background-color: white;
        border-radius: 30px; 

}
#hi1
{
        overflow: hidden;
        width: 100%;
        height: 60%;
        border-radius: 30px;

        
}
#hpic1
{
        width: 100%;
        height: 100%;
        border-radius: 30px;
}
#hpic1:hover{
        transform: scale(1.3);
        transition: 0.4s;
}
#qty{
        width: 100%;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(3, 3, 82);
        text-align: center;
        display: grid;
        align-items: center;
        margin-left: 0px;
        margin-top:30px;
}

#indiv
{
        width: 100%;
        height: 70%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap:80px;
        background: linear-gradient(black,darkblue,black);

}

#highlight2
{

        width: 300px;
        height: 400px;
        background-color:  white;
        border-radius: 30px;



}

#highlight3
{

        width: 300px;
        height: 400px;
        background-color:  white;
        border-radius: 30px;


}



#top4
{
        width: 100%;
        height: 15%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        text-align: center;
        margin-top: 70px;
        color:  rgb(3,3,82);
}

.hero {
        border-radius: 80px 0px 80px 0px;
        border: 10px solid black;
        height: 70%;
        width: 50%;
        margin-left: 320px;
        display: flex;
        justify-content: center;
        align-items: center;          
        transition: background-image 1s ease-in-out;
      }
     
      
      
      .overlay {
        background: rgba(0, 0, 0, 0.4);
        padding: 2rem;
        border-radius: 10px;
      }
      

#butt3
{
        width: 200px;
        height: 50px;
        color: white;
        background-color: darkblue;
        border-radius: 30px;
        margin-left: 130px;
        border: 2px solid darkblue;
}
#butt3:hover
{
        border: 2px solid darkblue;
        background-color: white;
        color: darkblue;
        transition: 0.5s;
}

#buttv
{
        width: 200px;
        height: 50px;
        color: white;
        background-color: rgb(3, 3, 82);
        border-radius: 30px;
        margin-left: 550px;
        border: 2px solid darkblue;
        margin-top: 30px;
}
#buttv:hover
{
        border: 2px solid darkblue;
        background-color: white;
        color: darkblue;
        transition: 0.5s;
}

footer{
    height: 400px;
    width: 100%;
    background-color: rgb(3, 3, 82);
    margin-top: 50px;
    
}
#logod{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 0;
}

    #foot{
        display: inline-block;
        text-align: center;
        color: rgb(230, 214, 214);
        font-family: Arial, Helvetica, sans-serif;
    }
    #vehicle{
        display: inline-block;
        color: rgb(230, 214, 214);
        margin-left: 100px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 40px;
        }
    #lastp{
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }



